<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Product+Sans:400,400i,700,700i"
      rel="stylesheet"
      type="text/css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Coming Soon Page!</title>
  </head>

  <body>
    <div>
      <img
        src="./assets/focile.svg"
        alt="hammer and pick"
        style="font-size: 0.3em"
        class="hammer"
        onmousedown="return false"
      />
      <h1 class="text1">COMING SOON</h1>
      <h3 class="uc">Under Construction!</h3>
    </div>
  </body>
</html>
