body {
  background-color: #cfd8dc;
  margin: 30px;
  padding: 30px;
  font-family: "Product Sans", Arial, sans-serif;
}

div {
  width: 400px;
  margin: 6em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.84);
  border-radius: 15em;
}

@media (max-width: 600px) {
  div {
    width: auto;
    margin: 0 auto;
    border-radius: 0;
    padding: 1em;
  }
}

.hammer {
  position: relative;
  animation: anim1 2s;
  animation-iteration-count: infinite;
  size: 30px !important;
}

@keyframes anim1 {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: 35px;
  }
  50% {
    bottom: 15px;
  }
  75% {
    bottom: 35px;
  }
  100% {
    bottom: 0px;
  }
}

.text1 {
  text-align: center;
  color: #ffce31;

  text-shadow: -1px 1px 5px #ffe7b6;
}

.uc {
  text-align: center;
  color: #89664c;
}

a {
  color: #ffce31;
  text-shadow: -1px 1px 3px rgba(115, 115, 115, 0.85);
}
